.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}

.form input[type="email"], .form input[type="password"] {

  background: #f2f2f2;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.form input:focus {
  background: #dbdbdb;
}

.form button {
  /* background: #4b6cb7; */
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
          
}

.form span {
  font-size: 40px;
  /* color: #4b6cb7; */
  margin-bottom: 25px;
  display: block;
  align-items: center;
}

.error {
  color: red;
}

/* Media queries for responsiveness */

/* For screens smaller than 768px (tablets and mobiles) */
@media only screen and (max-width: 768px) {
  .login {
    width: 90%;
    padding: 10% 0 0;
  }
  .form {
    max-width: 90%;
    padding: 30px;
  }
  .form input {
    font-size: 12px;
  }
  .form button {
    font-size: 12px;
  }
  .form span {
    font-size: 30px;
  }
}

/* For screens smaller than 480px (mobiles) */
@media only screen and (max-width: 480px) {
  .login {
    width: 80%;
    padding: 15% 0 0;
  }
  .form {
    max-width: 80%;
    padding: 20px;
  }
  .form input {
    font-size: 10px;
  }
  .form button {
    font-size: 10px;
  }
  .form span {
    font-size: 20px;
  }
}